@page "/"
@using DigitalClinic6.Models

@*<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>*@

<Carousel />
@*<div class="container-fluid">*@
    <div class="row">
        <div class="col-12">
            <Emergency />
        </div>
    </div>
  
    <div class="row-fluid">
        <Tabs></Tabs>
    </div>
@*</div>*@


