<div style="height:50vh">
    <div class="row w-100 h-50 tab">
        <div class="col-6 w-100">
            <div class="content-white w-100 h-100 d-inline-block">
                <span class="oi oi-people">
                    <a href="doctors">Doctors</a>
                </span>
            </div>

        </div>
        <div class="col-6">
            <div class="content-white w-100 h-100 d-inline-block">
                <span class="oi oi-medical-cross">
                    <a href="clinics">Clinics</a>
                </span>
            </div>

        </div>
    </div>
    <div class="row w-100 h-50 tab">
        <div class="col-6">
            <div class="content-white w-100 h-100 d-inline-block">
                <span class="oi oi-person">
                    <a href="">Specialist</a>
                </span>
            </div>

        </div>
        <div class="col-6">
            <div class="content-white w-100 h-100 d-inline-block text-center">
                <span class="oi oi-medical-cross text-center">
                    <a href="" class="text-center">Medicine</a>
                </span>
            </div>

        </div>
    </div>
    <div class="row w-100 h-50 tab">
        <div class="col-6">
            <div class="content-white w-100 h-100 d-inline-block">
                <span class="oi oi-heart text-center" >
                    <a href="">Self Assessment</a>
                </span>
            </div>

        </div>
        <div class="col-6">
            <div class="content-white w-100 h-100 d-inline-block text-center">
                <span class="oi oi-book">
                    <a href="">Medical Articles</a>
                </span>
            </div>

        </div>
    </div>
</div>